

*{
    margin: 0.08%;
    font-family: 'Barlow Condensed', sans-serif;
}
body{
    box-sizing: border-box;
    flex-wrap: wrap;
   }


h1{
    text-align: center;

    font-size: 40px;
   
}
header{
    background-color:rgb(231, 155, 14);
    color:black;
    width: 100%;
    height: 10%;
    left: 0;
}
 main h2{
     padding: 10px;
   
 }
 main p{
     text-align: center;
 }
 
.nav{
    background-color:rgb(177, 118, 8);
    color: white;
    text-decoration: none;
    font-size: 15px;
    margin: 0.25%;
    padding: 0.25%;
    border-radius: 2px;
}
footer{
    background-color:rgb(231, 155, 14);
    color: white;
    width: 100%;
    height: 10%;
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    
    }


form h4,label,select,p,textarea{
 padding: 7px;

}

.controls{
   
    background:white;
    padding: 5px;
    border: 4px;
    margin-bottom: 10px;
    border: 1px solid lightgrey;
   
}

.boton{
    background-color:rgb(177, 118, 8);
    color: white;
    text-decoration: none;
    font-size: 15px;
    margin: 0.25%;
    padding: 0.25%;
    border-radius: 2px; 
}
img{
display: block;
margin: auto;
}
iframe{
    display: block;
    margin-left: 20%;
    margin-top: 10%;
    
}
.container{
  display: grid;
  grid-template-columns: 50% 50%;
  text-align: center;
}